AuthservID OpenDMARC
IgnoreAuthenticatedClients true
Socket inet:8893@127.0.0.1
SoftwareHeader true
SPFIgnoreResults true
SPFSelfValidate true
Syslog true
TrustedAuthservIDs @@MAIL_FQDN@@
UMask 007
UserID opendmarc:mail
